.container {
    /*Works*/
    width: 960px;
    position: relative;
    margin: 0 auto;
    
    /*Like, but don't know if they buy anything*/
    /* float: clear; */
    /* align-content: center;
    align-items: center; */
}